<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLSinhVien"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ThongTinChiTietUserActivity"
            android:name=".Activities.AverageScoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ThongTinChiTietGiangVienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ThongTinChiTietSinhVien"
            android:exported="false" />
        <activity
            android:name=".Activities.SingleUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QuanLyUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QuanLyGiangVienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QuanLyDanhSachSinhVienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QuanLyDiemvaInforSinhVien"
            android:exported="false" />
        <activity
            android:name=".Activities.QuanLySinhVienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QuanLyLopHocActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DiemSinhVien"
            android:exported="false" />
        <activity
            android:name=".Activities.DanhSachLopSinhVienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SettingActivity" />
        <activity
            android:name=".Activities.InteractActivity"
            android:exported="false"
            android:parentActivityName=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>